/* Universal selector */
*{
    font-family: "Courier-New";
    color: black;
}
h1{
    color: #b92b27;
}
/* it is case sensitive */
/* # is for id */
#myId{
    color: #f0f000;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
/* . is for class */
.myClass{
    background-color: #f0f000;
}
.upvote{
    background-color: #b92b27;
    color: white;
}
/* DESCENDENT TAGS */
div p{
    background-color: aliceblue;
    /* property: this and this */
}
p a{
    color: purple;
    background-color: yellow;
}
/* .post a{
    color: orange
} */
/* COMBINATORS */
/* adjacent siblings */
nav ul li a{
    color:hotpink;
}
nav ul li{
    color:greenyellow;
}
p+h3{
    text-decoration: underline;
}
.upvote + button
{
    background-color: blanchedalmond;
}

/* CHILD COMBINATOR */
/* It helps in suming all the color of buttons */
span>button{
    color:#b92b27
}
input[type="text"]{
    color: green;
}
input[type="password"]
{
    color: aqua;
}
input[type]
{
    background-color: grey;
}
div[id="my id"] p{
    background-color: bisque;
}

/* Pseudo class */
/* special state of the selected elements */
/* hover active checked nth-of-type */

button:hover{
    background-color: black;
    color: antiquewhite;
}
button:active{
    background-color: purple;
    color: antiquewhite;
}
p:active{
    color: pink;
}
input[type="radio"]:checked + label{
    color: aquamarine;
}
/* nth element means the nth element of the sequence */
.post:nth-of-type(2n){
    background-color: blanchedalmond;
}

/* Pseudo elements */

/* like changing last letter */
h1::first-letter{
    color: blanchedalmond;
}
p::first-line{
    color: cyan;
}
p::selection{
    color:limegreen;
}
/* specificity id >class/attribute and pseudoclass> element and pseudo element */
/* Inline style has the highest property */
/*  Most important heading in css !important */
h3{
    color: blue !important;
}
/* Inheritance in CSS
 div then p then ul i.e. the properties will be inherited from the parent subgroup 
*/


/* Some properties are non -inheritable */